<div class="row m-0 col-0 vh-100">
    <div class="img-inicioSesion d-flex justify-content-center align-items-center">
        <div class="card" style="width: 60rem;">
            <div class="card-body">
                <h5 class="card-title display-4 fw-bold lh-1 mb-5 text-center"><b>MELODIA</b><br>
                    <img src="/assets/img/imgLogoM.png" width="200">
                </h5>
                <h4 class=" fw-bold lh-1 mb-2 text-center" style="margin-top: -20px;"><b>REGISTRARSE</b>
                </h4>
                <div class="text-start mt-4">
                    <div class="row">
                        <div class="col-4 px-4 mb-3">
                            <label for="txtNombre"><b>Nombre:</b></label>
                            <input class="form-control" type="text" style="border-radius: 15px;" />
                        </div>
                        <div class="col-4 px-4 mb-3">
                            <label for="txtApellidoPaterno"><b>Apellido Paterno:</b></label>
                            <input class="form-control" type="text" style="border-radius: 15px;" />
                        </div>
                        <div class="col-4 px-4 mb-3">
                            <label for="txtApellidoMaterno"><b>Apellido Materno:</b></label>
                            <input class="form-control" type="text" style="border-radius: 15px;" />
                        </div>
                        <div class="col-4 px-4 mb-3">
                            <label for="txtUsuario"><b>Usuario:</b></label>
                            <input class="form-control" type="text" style="border-radius: 15px;"/>
                          </div>
                        <div class="col-4 px-4 mb-3">
                            <label for="txtContrasenia"><b>Contraseña:</b></label>
                            <input class="form-control" type="text" style="border-radius: 15px;" />
                        </div>
                        <div class="col-4 px-4 mb-3">
                            <label for="txtConfirmarContrasenia"><b>Confirmar contraseña:</b></label>
                            <input class="form-control" type="text" style="border-radius: 15px;" />
                        </div>
                        <div class="col-12 mt-4 pt-2 px-5 mb-4 text-center">
                            <button type="button" class="btn btn-light"
                                style="width: 200px; border-radius: 15px; background-color: gray; border: none;"><b
                                    class="text-white">REGISTRARSE</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>