.img-inicio {
    background-image: url('/assets/img/imgInicio.png');
    background-size: cover;
}

.card {
    background-color: rgba(253, 247, 247, 0.681) !important;
    
}

th {
    background-color: rgba(253, 247, 247, 0.681) !important;
    
}

td{
    background-color: rgba(253, 247, 247, 0.681) !important;
    
}

.img-normalizada{
	width: 230px;
	height: 200px;
	object-fit: cover;
}

.carruse-img{
	width: 230px;
	height: 350px;
	object-fit: cover;
}

.imagen-artista{
	width: 200px;
	height: 80px;
	object-fit: cover;
}


.carousel-caption h3 {
    font-size: 54px;
    
}

.carousel-caption p {
    font-size: 16px; /* Tamaño de la fuente de la descripción */
}
